### Imports

In [1]:
import os
import pandas as pd

### Global Variabels

In [2]:
path = 'Model-outputs'
file_data="stats.csv"
file_data_o="stats_o.csv"

### Function that gets the files in a path

In [3]:
def get_all_trec_outputs(path):
    return [file for file in os.listdir(path) if file[0] != '.']

**This is just some testing you can ignore it**

In [4]:
path_files = get_all_trec_outputs(path)

In [5]:
path_files

['StandardAnalyzer@BM25(k1=1.2,b=0.75)',
 'Analyser@ClassicSimilarity',
 'StandardAnalyzer@LM Dirichlet(2000.000000)',
 'StandardAnalyzer@ClassicSimilarity',
 'Lab2_Analyser@LM Dirichlet(2000.000000)',
 'Lab2_Analyser@BM25(k1=1.2,b=0.75)']

### Function that does it all

**Given the absolute path, it return 6 DataFrames:**

    1. Data from stats.csv for all the model (Columns: Model, P10, MAP) -> data
    2. Data from stats_o.csv for all the model (Columns: Model with Ouliers, P10, MAP) -> data_outliers
    3. data sorted by P10
    4. data_outliers by P10
    5. data sorted by MAP
    6. data_outliers by MAP

In [18]:
def make_data(path):   
    results_path = "Results"
    
    data=pd.DataFrame(data={'Model': [], "P10": [], "MAP": []})
    data_outliers=pd.DataFrame(data={'Model with Ouliers': [], "P10": [], "MAP": []})
    for file in path_files:
        path_to_csv=os.path.join(path,file)
        data_aux = pd.read_csv(os.path.join(path_to_csv,file_data))
        data = data.append({'Model': file, 'P10': data_aux["P_10"].values[0], 'MAP': data_aux["map"].values[0]}, ignore_index=True)
        data_aux = pd.read_csv(os.path.join(path_to_csv,file_data_o))
        data_outliers = data_outliers.append({'Model with Ouliers': file, 'P10': data_aux["P_10"].values[0], 'MAP': data_aux["map"].values[0]}, ignore_index=True)
        
        if not os.path.exists(results_path):
            os.makedirs(results_path)
        data.to_csv(os.path.join(results_path,"data.csv"))
        data_outliers.to_csv(os.path.join(results_path,"data_o.csv"))
        data.sort_values(by=["P10"],ascending=False).to_csv(os.path.join(results_path,"data_sorted_P10.csv"))
        data_outliers.sort_values(by=["P10"], ascending=False).to_csv(os.path.join(results_path,"data_o_sorted_P10.csv"))
        data.sort_values(by=["MAP"], ascending=False).to_csv(os.path.join(results_path,"data_sorted_Map.csv"))
        data_outliers.sort_values(by=["MAP"], ascending=False).to_csv(os.path.join(results_path,"data_o_sorted_Map.csv"))
                                  
    return data, data_outliers, data.sort_values(by=["P10"], ascending=False), data_outliers.sort_values(by=["P10"], ascending=False), data.sort_values(by=["MAP"], ascending=False), data_outliers.sort_values(by=["MAP"], ascending=False)

In [19]:
data, data_o, data_sorted_P10, data_o_sorted_P10, data_sorted_Map, data_o_sorted_Map=make_data(path)

In [8]:
data

      MAP                                       Model     P10
0  0.0725        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.1065
1  0.0821                  Analyser@ClassicSimilarity  0.1226
2  0.0473  StandardAnalyzer@LM Dirichlet(2000.000000)  0.0742
3  0.0612          StandardAnalyzer@ClassicSimilarity  0.1032
4  0.0454     Lab2_Analyser@LM Dirichlet(2000.000000)  0.0581
5  0.0873           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.1161

In [9]:
data_o

        MAP                          Model with Ouliers       P10
0  0.105000        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.152381
1  0.109535                  Analyser@ClassicSimilarity  0.165217
2  0.071935  StandardAnalyzer@LM Dirichlet(2000.000000)  0.110000
3  0.097311          StandardAnalyzer@ClassicSimilarity  0.168421
4  0.053992     Lab2_Analyser@LM Dirichlet(2000.000000)  0.069231
5  0.126957           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.171429

In [10]:
data_sorted_P10

      MAP                                       Model     P10
1  0.0821                  Analyser@ClassicSimilarity  0.1226
5  0.0873           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.1161
0  0.0725        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.1065
3  0.0612          StandardAnalyzer@ClassicSimilarity  0.1032
2  0.0473  StandardAnalyzer@LM Dirichlet(2000.000000)  0.0742
4  0.0454     Lab2_Analyser@LM Dirichlet(2000.000000)  0.0581

In [11]:
data_o_sorted_P10

        MAP                          Model with Ouliers       P10
5  0.126957           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.171429
3  0.097311          StandardAnalyzer@ClassicSimilarity  0.168421
1  0.109535                  Analyser@ClassicSimilarity  0.165217
0  0.105000        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.152381
2  0.071935  StandardAnalyzer@LM Dirichlet(2000.000000)  0.110000
4  0.053992     Lab2_Analyser@LM Dirichlet(2000.000000)  0.069231

In [14]:
data_sorted_Map

      MAP                                       Model     P10
5  0.0873           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.1161
1  0.0821                  Analyser@ClassicSimilarity  0.1226
0  0.0725        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.1065
3  0.0612          StandardAnalyzer@ClassicSimilarity  0.1032
2  0.0473  StandardAnalyzer@LM Dirichlet(2000.000000)  0.0742
4  0.0454     Lab2_Analyser@LM Dirichlet(2000.000000)  0.0581

In [13]:
data_o_sorted_Map

        MAP                          Model with Ouliers       P10
5  0.126957           Lab2_Analyser@BM25(k1=1.2,b=0.75)  0.171429
1  0.109535                  Analyser@ClassicSimilarity  0.165217
0  0.105000        StandardAnalyzer@BM25(k1=1.2,b=0.75)  0.152381
3  0.097311          StandardAnalyzer@ClassicSimilarity  0.168421
2  0.071935  StandardAnalyzer@LM Dirichlet(2000.000000)  0.110000
4  0.053992     Lab2_Analyser@LM Dirichlet(2000.000000)  0.069231

![title](media/Will-Smith-Meme-12.png)