In [2]:
import pandas as pd
import os
import utils

## files

In [3]:
path = "../../../Results/Lab2_Ex3/"
files = [file for file in os.listdir(path) if file[0] != '.']
files

['data_o_sorted_P10.csv',
 'data_o_sorted_Map.csv',
 'data.csv',
 'data_sorted_Map.csv',
 'data_o.csv',
 'data_sorted_P10.csv']

## fetch dataFrames

In [4]:
data,data_o,data_sorted_P10,data_o_sorted_P10,data_sorted_Map,data_o_sorted_Map = utils.read_results(path)

In [7]:
data_sorted_Map["Model"] = data_sorted_Map["Model"].apply(lambda x: x[x.find("BM25"):x.find("}")])

In [20]:
data_sorted_P10.head(5)

      MAP                          Model     P10
0  0.0724  {StandardBM25(k1=1.25,b=1.0)}  0.1194
1  0.0717   {StandardBM25(k1=1.5,b=1.0)}  0.1194
2  0.0701   {StandardBM25(k1=2.0,b=1.0)}  0.1194
3  0.0696   {StandardBM25(k1=1.0,b=1.0)}  0.1129
4  0.0710  {StandardBM25(k1=2.0,b=0.75)}  0.1129

In [21]:
data_o_sorted_P10.head(5)

        MAP             Model with Ouliers       P10
0  0.108945  {StandardBM25(k1=1.25,b=1.0)}  0.185000
1  0.107900   {StandardBM25(k1=1.5,b=1.0)}  0.185000
2  0.105540   {StandardBM25(k1=2.0,b=1.0)}  0.185000
3  0.100810   {StandardBM25(k1=1.0,b=1.0)}  0.166667
4  0.102600  {StandardBM25(k1=2.0,b=0.75)}  0.161905

In [8]:
data_sorted_Map.head(5)

      MAP                 Model     P10
0  0.0738    BM25(k1=2.0,b=0.5)  0.1065
1  0.0730    BM25(k1=1.5,b=0.5)  0.1032
2  0.0727  BM25(k1=1.25,b=0.75)  0.1065
3  0.0724   BM25(k1=1.25,b=1.0)  0.1194
4  0.0722   BM25(k1=1.5,b=0.75)  0.1097

In [23]:
data_o_sorted_Map.head(5)

        MAP             Model with Ouliers       P10
0  0.108945  {StandardBM25(k1=1.25,b=1.0)}  0.185000
1  0.108540  {StandardBM25(k1=1.25,b=0.5)}  0.155000
2  0.107900   {StandardBM25(k1=1.5,b=1.0)}  0.185000
3  0.106143   {StandardBM25(k1=1.5,b=0.5)}  0.152381
4  0.105540   {StandardBM25(k1=2.0,b=1.0)}  0.185000